link(href="./index.css" rel="styleSheet")

div.drag
  div.drag1(draggable="true") drag1
  div.drag1(draggable="true") drag2
  div(draggable="true") drag3
div.drop
  div.drop1 drop1
  div.drop1 drop2
  div drop3

script(src="./index.dev.js")