body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
}

main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  column-gap: 5px;
  row-gap: 5px;

  > div {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    transition: 0.25s all linear;
    transform: translateX(0);
    background: red;
  }

  @for $i from 1 through 100 {
    div:nth-child(#{$i}) {
      background-color: hsla(255/110 * $i, 90, 50, 1);
      // background-image: url('./一人之下.png');
      // $x: percentage(($i % 10) / 10);
      // $y: percentage(($i - $i % 10 + 10) / 100);
      // background-position: $x $y;
    }
  }
}